<ion-view title="{{product.title}}">
  <ion-content class="has-header">
    <div class="list">
        <div ng-repeat="item in cart.items | orderBy:'name'" class="item">
            <h2>{{item.name}}</h2>
                <input type="tel" 
                    ng-model="item.quantity" 
                    ng-change="cart.saveItems()" />
                <button 
                    class="button button-outline button-small"
                    ng-disabled="item.quantity >= 100"
                    ng-click="cart.addItem(item.sku, item.name, item.price, +1)">+</button>
                <button 
                    class="button button-outline button-small" type="button" 
                    ng-disabled="item.quantity <= 1"
                    ng-click="cart.addItem(item.sku, item.name, item.price, -1)">-</button>
            <h2>{{item.price * item.quantity | currency}}</h2>
        </div>

        <h3 ng-hide="cart.getTotalCount() > 0">Your cart is empty.</h3>
        <h2 ng-show="cart.getTotalCount() > 0">Total: {{cart.getTotalPrice() | currency}}</h2>
    </div>
        <button 
            class="button button-full button-assertive" 
            ng-click="cart.checkout('Stripe')" 
            ng-disabled="cart.getTotalCount() < 1">
            Checkout with Stripe
        </button>
        <!-- Stripe needs a form to post to -->
        <form class="form-stripe"></form>
  </ion-content>
</ion-view>
