<ion-view title="{{product.title}}">
  <ion-content class="has-header">
    <ion-list>
        <img ng-src="{{product.img}}"/>
        <h3>{{product.title}}</h3>
        <button 
        	class="button button-full button-assertive"
        	ng-click="cart.addItem(product.id, product.title, product.price, 1)">
        	Add to Cart
		</button>
        <button class="button button-full button-light"
            ng-click="goToCart()">
        	Checkout 
        	<span ng-show="cart.getTotalCount(product.id) > 0">
        		({{cart.getTotalCount()}})
        	</span>
		</button>
    </ion-list>
  </ion-content>
</ion-view>